*{
    margin: 0px;
    padding: 0px;
}



.box-uno{
    
    background-color: lightblue;
    width: 300px;
    height: 150px;
    padding: 20px;
    border: 5px solid black;
    margin: 50px;
}

.box-dos{
    background-color: lightblue;
    width: 300px;
    height: 150px;
    padding: 20px;
    border: 5px solid black;
    margin: 50px;
}

.box-tres{
    background-color: lightblue;
    width: 300px;
    height: 150px;
    padding: 20px;
    border: 5px solid black;
    margin: 50px;
}