h2{
    color: aquamarine;
}

body{
    background-color: blue;
}

@media (max-width:  600px) {
    body{
        background-color: aqua
    }
  } 


  @media (max-width: 400px) {
    body{
        background-color: rgb(2, 26, 26)
    }
  } 